<mat-toolbar color="primary" class="app-header">
  <span class="app-title" routerLink="/">Holiday Explore</span>

  <span class="spacer"></span>

  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/countries">Countries</button>

  <ng-container *ngIf="user$ | async as user; else loggedOut">
    <a mat-button routerLink="/profile">Profile</a>
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>

  <ng-template #loggedOut>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/signup">Signup</a>
  </ng-template>
</mat-toolbar>
