<mat-toolbar color="primary" class="app-header">
  <span class="app-title" routerLink="/">Holiday Explore</span>

  <span class="spacer"></span>

  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/countries">Countries</button>
  <button mat-button routerLink="/favourites">
    Favourites
  </button>

  <ng-container *ngIf="user$ | async as user; else loggedOut">
    <div class="user-menu">
      <button 
        mat-icon-button 
        [matMenuTriggerFor]="userMenu"
        class="profile-button">
        <img 
          *ngIf="user.photoURL; else noPhoto"
          [src]="user.photoURL" 
          alt="Profile"
          class="profile-avatar">
        <ng-template #noPhoto>
          <mat-icon>account_circle</mat-icon>
        </ng-template>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </ng-container>

  <ng-template #loggedOut>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/signup">Signup</a>
  </ng-template>
</mat-toolbar>
