.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}
.syncfusion-license-error {
  display: none;
}
router-outlet + * {
  flex-grow: 1;
}
