.country-table {
  margin-top: 20px;
  border-radius: 10px;
}
.country-table table {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

::ng-deep #map svg path {
  cursor: pointer;
}
