<div *ngIf="loading$ | async" class="loading-container">
  <mat-spinner diameter="50"></mat-spinner>
  <p>Loading countries...</p>
</div>

<div *ngIf="error$ | async as error" class="error-container">
  <p class="error-message">Error: {{ error }}</p>
</div>

<ejs-maps *ngIf="(loading$ | async) === false && !(error$ | async)"
          id="map"
          [layers]="layerOptions"
          theme="FluentDark"
          (shapeSelected)="onShapeSelected($event)"
></ejs-maps>

<div class="country-table" *ngIf="(loading$ | async) === false && !(error$ | async)">
  <table mat-table [dataSource]="countries" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td mat-cell *matCellDef="let country"> {{country.name}} </td>
    </ng-container>

    <ng-container matColumnDef="countryCode">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let country" (click)="goToCountry(country.countryCode)"> {{country.countryCode}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
